#- name: get the rpm or apt package facts
#  package_facts:
#    manager: "auto"

#- name: show puppet version
#  debug: var=ansible_facts.packages.puppet[0].version

- name: Install the puppet deb from a remote repo (Ubuntu)
  apt:
    deb: https://apt.puppet.com/puppet6-release-{{ansible_distribution_release}}.deb

- name: Run the equivalent of "apt-get update" (Ubuntu)
  apt:
    update_cache: yes

- debug:
    msg: https://apt.puppet.com/puppet6-release-{{ansible_distribution_release}}.deb